In [1]:
"""
날짜 : 2023.01.13
이름 : 백현조
내용 : 파이썬 데이터베이스 프로그래밍형 실습하기
"""
import pymysql

'\n날짜 : 2023.01.13\n이름 : 백현조\n내용 : 파이썬 DB 실습하기\n'

In [15]:
# insert 실습.
import pymysql
conn = pymysql.connect(host='127.0.0.1',
                 user='root',
                 password='1234', 
                 db='java1db', 
                 charset='utf8')

# SQL 실행객체

cur = conn.cursor()

# SQL 실행

sql = "insert into `user1` values ('p101','1234','파이썬','010-1234-1001',17)"

cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('insert 완료...')

insert 완료...

In [10]:
# Update 실습
import pymysql

conn = pymysql.connect(host='127.0.0.1',
                 user='root',
                 password='1234', 
                 db='java1db', 
                 charset='utf8')

# SQL 실행객체

cur = conn.cursor()

# SQL 실행

sql = "update `user1` set"
sql += "`name` = '홍길동' , "
sql += "`hp` = '010-1111-7897' , "
sql += "`age` = '30' "
sql += " where `uid` ='p101' ; "

cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('update 완료...')

update 완료...

In [12]:
# delete 실습
import pymysql

conn = pymysql.connect(host='127.0.0.1',
                 user='root',
                 password='1234', 
                 db='java1db', 
                 charset='utf8')

# SQL 실행객체

cur = conn.cursor()

# SQL 실행

sql = "delete from `user1` where `uid`='p101'"


cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('delete 완료...')

delete 완료...

In [16]:
# select 실습
import pymysql

conn = pymysql.connect(host='127.0.0.1',
                 user='root',
                 password='1234', 
                 db='java1db', 
                 charset='utf8')

# SQL 실행객체

cur = conn.cursor()

# SQL 실행

sql = "select * from `user1` "


cur.execute(sql)
conn.commit()

# 데이터 출력

for row in cur.fetchall():
    print('---------------')
    print('아이디 : ', row[0])
    print('비밀번호 : ', row[1])
    print('이름 : ', row[2])
    print('휴대폰 : ', row[3])
    print('나이 : ', row[4])
    

#데이터베이스 종료
conn.close()

print('select 완료...')

---------------
아이디 :  A105
비밀번호 :  1234
이름 :  이순진
휴대폰 :  010-1234-5555
나이 :  10
---------------
아이디 :  A102
비밀번호 :  1234
이름 :  김춘추
휴대폰 :  010-1234-2222
나이 :  23
---------------
아이디 :  A103
비밀번호 :  1234
이름 :  장보고
휴대폰 :  010-1234-3333
나이 :  32
---------------
아이디 :  A104
비밀번호 :  1234
이름 :  강감찬
휴대폰 :  010-1234-4444
나이 :  45
---------------
아이디 :  a201
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-1110-2221
나이 :  29
---------------
아이디 :  a002
비밀번호 :  1234
이름 :  멋쟁이
휴대폰 :  010-1234-1001
나이 :  25
---------------
아이디 :  a003
비밀번호 :  1234
이름 :  간지쟁이
휴대폰 :  010-5555
나이 :  55
---------------
아이디 :  ai5
비밀번호 :  1234
이름 :  인공지능5호
휴대폰 :  5-55
나이 :  55
---------------
아이디 :  p101
비밀번호 :  1234
이름 :  파이썬
휴대폰 :  010-1234-1001
나이 :  17
select 완료...